<div id="post-page">	

<div class="col-sm-6">
	<input type="text" placeholder="Post Heading"> <br/>
	<input type="text" placeholder="Where"> <br/>
	
  <div class='input-group date' id='datetimepicker1'>
      <input type='text' placeholder="Start" class="form-control" />
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span>
  </div>
  
  <div class='input-group date' id='datetimepicker2'>
      <input type='text' placeholder="End" class="form-control" />
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span>
  </div>

	<%= text_area_tag :content, "Details", :class => "tinymce", :rows => 10, :cols => 120 %>
	<%= tinymce %>

	<a href="#" class="btn btn-default submit_button">Send To Natalie</a> <br/>
</div>

<div class="col-sm-6">
	<p>Same system, new interface. Simply add a creative subject heading, a place time, a time and text rich details to the form on the left to send your eventto Philadelphia’s favorite literature listserve.</p>

	<p>In addition, all events will be added to a central google calender and archived for later use. More expansion to come! </p>
	
	<p>Thanks you for supporting lit-philly.</p>

</div>

</div>

<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker();
    });
</script>